<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h1>게시판을 만들어보자</h1>
        <P>현규의 게띠판</p>
      </div>
    </div>
  </body>
</html>
